/* MAIN SECTION STYLE */
.hero-section{
    margin-left: 9.76vw;
    margin-right: 9.76vw;
}

/* HERO SECTION STYLE */
.hero-section{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.48vw;
}
.hero-content-container{
    min-width:44vw;
}
.hero-title{
    font-size: 3.89vw;
    font-weight: 700;
    margin-top: 6.47vw;
    margin-bottom: 1.68vw;
}
.hero-title-description{
    font-size: 1.39vw;
    font-weight: 400;
    margin-bottom: 1.68vw;
}
.hero-image-container{
    width: 58.9vw;
}
.hero-image{
    width: 100%;
}
.hero-btn{
    border-radius: 12px;
    background: rgb(17, 17, 17);
    color: rgb(112, 112, 112);
    font-size: 1.4vw;
    font-weight: 700;
    padding: 0.9vw 3.1vw;
    border: none;
    transition: 0.3s ease-out;
}
.hero-btn:hover{
    cursor: pointer;
    background-color: rgb(1, 172, 253);
    color: rgb(255, 255, 255);
    font-size: 1.8vw;
}
.empower1{
    color: rgb(254, 163, 1);
}
.student2{
  color: rgb(17, 17, 17);  
}
.age3{
    color: rgb(1, 172, 253);
}

/* RESPONSIVE STYLE MOBILE MODE */
@media screen and (max-width:576px) {
    .main{
        padding: 0;
    }
    .hero-section{
        flex-direction: column-reverse;
        padding: 5.15vw 2.6vw;
        margin: 2.05vw 4.3vw 10.25vw 4.1vw;
    }
    .hero-image-container{
       max-width: 86.3vw;
    }
    .hero-image{
        width: 100%;
    }
    .hero-content-container{
        min-height: 64.1vw;
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    .hero-content-container p{
        text-align: center;
        margin-top: 5.2vw;
    }
    .hero-title{
        font-size: 8.2vw;
        font-weight: 700;
    }
    .hero-title-description{
        font-size: 4.1vw;
        font-weight: 500;
    }
    .hero-btn{
        color: rgb(255, 255, 255);
        font-size: 4.1vw;
        font-weight: 700;
        padding: 3dvb 6.2vw;
    }
}
